h1 {
	text-align: center;
	margin: 0 auto;
	font-family: 'Cabin Sketch', cursive;
	font-size: 36px;
}

.container {
	margin-left: 350px;
	margin-right: 350px;

}

.unit {
	display: inline-block;
	height: 16px;
	width: 16px;
	margin: 0 auto;
}


.unit.enter	 {
	box-shadow: none;
	background-color: black;
}

button {
	background-color: #4CAF50;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border-radius: 8px;
	left: 50%;
	right: 50%;
	position: relative;
	width: 50px;
	height: 30px;
}

button:hover {
	background-color: white;
}